/* Body Style */
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Background Images */
.bgimg-1 {
  background-image: url('../images/bgimg-3.jpg');
  min-height: 100%;
  opacity: 0.85;
  filter: brightness(75%);
}

.bgimg-2 {
  background-image: url("../images/bgimg-2.jpg");
  min-height: 800px;
  opacity: 0.85;
  filter: brightness(75%);
}

.bgimg-3 {
  background-image: url("../images/bgimg-1.jpg");
  min-height: 100%;
  opacity: 0.85;
  filter: brightness(75%);
}

.bgimg-4 {
  background-image: url("../images/bgimg-4.jpg");
  min-height: 100%;
  opacity: 0.85;
  filter: brightness(75%);
}

/* Disable Parallax for Mobile */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

/* Main Logo Blinking Animation */
@keyframes blink {
  0% {opacity: 0}
  49%{opacity: 0}
  50% {opacity: 1}
}

blink{animation: blink 1s infinite;}


.about, .infobox-2, .infobox-3, .infobox-4, .infobox-5{
  padding-top: 50px;
  margin-top: -50px;
}




/* Center Logo Test */
.parent{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.center{
  background-color:rgba(0,0,0,1);
  letter-spacing: 10px;
  text-align: center;
  font-size: 24px;
  padding: 12px 24px;
  color: white;
}


/* Nav Bar Test */
.onTop{
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.navbar{
  padding: 8px 4px;
  float: left;
  width: 100%;
  border: none;
  display: block;
  outline: 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.navbutton {
  padding: 8px 16px;
  width: 100%;
  border: none;
  white-space: normal;
  outline: 0;
  overflow: hidden;
  text-decoration: none;
  color: lightgray;
  text-align: center;
  cursor: pointer;
}
.navmobilebutton{
  float: right;
  padding: 0px 16px;
}
.navmobilemenu{
  padding: 8px 0px;
  width: 100%;
  border: none;
  white-space: normal;
  outline: 0;
  overflow: hidden;
  text-decoration: none;
  color: rgba(100,100,100,1);
  text-align: center;
  vertical-align: middle;
  background-color: white;
  display: inline-block;
}
.navbarscroll{
  padding: 8px 4px;
  float: left;
  width: 100%;
  border: none;
  display: block;
  outline: 0;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.75);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  position: relative;
  animation: animatetop 0.4s;
}
@keyframes animatetop {
  from{
    top: -300px;
    opacity: 0;
  }
  to{
    top: 0;
    opacity: 1;
  }
}
@media (min-width: 993px) {
  .largehide {
    display: none;
  }
}
@media (max-width: 600px){
  .smallhide{
    display: none;
  }
}
.navbarsmall{
  width: 100%;
  min-width: 100%;
  text-align: left;
  padding: 8px 16px;
  vertical-align: middle;
}
.barhide{
  display: none;
}
.barshow{
  display: block;
}
a:hover{
  background-color: rgba(255,255,255,0.25);
  color: black;
}




/* Content Div Styling */
.youtube{
  background-color: rgba(50,50,50,1);
  brightness: 75%;
  height: 100%;
  width: 100%;
  color: white;
}
.twitch{
  background-color: rgba(100,65,164,1);
  brightness: 75%;
  height: 100%;
  width: 100%;
  color: white;
}


/* About Me Section */
.aboutContainer{
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 64px;
  padding-bottom: 64px;
  padding: 16px;
  background-color: rgba(255,255,255,1);
  overflow: hidden;
}
.aboutMe{
  text-align: center;
  font-weight: 400;
  margin: 10px 0;
  font-size: 24px;
  color: #777;
}
.aboutMeRow{
  width: 40%;
  padding: 12px 24px;
  text-align: center;
  color: #777;
  display: inline-block;
  float: left;
}
.aboutMeRowInfo{
  margin-top: 24px;
  width: 40%;
  padding: 12px 24px;
  text-align: left;
  color: #777;
  display: inline-block;
  float: left;
}
.aboutMeImage{
  opacity: 0.85;
  border-radius: 4px;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  text-align: center
}