/* Body Style */
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
  margin: 0;
  padding: 0;
}

/* Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Background Images */
.bgimg-1 {
  background-image: url('../images/bgimg-3.jpg');
  min-height: 100%;
  opacity: 0.85;
  filter: brightness(75%);
}

.bgimg-2 {
  background-image: url("../images/bgimg-2.jpg");
  min-height: 800px;
  opacity: 0.75;
  filter: brightness(75%);
}

.bgimg-3 {
  background-image: url("../images/bgimg-1.jpg");
  min-height: 100%;
  opacity: 0.75;
  filter: brightness(75%);
}

/* Disable Parallax for Mobile */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

/* Main Logo Blinking Animation */
@keyframes blink {
  0% {opacity: 0}
  49%{opacity: 0}
  50% {opacity: 1}
}

blink{animation: blink 1s infinite;}


.infobox-1, .infobox-2, .infobox-3, .infobox-4, .infobox-5{
  height: 90%;
  padding-top: 50px;
  margin-top: -50px;
}




/* Center Logo Test */
.parent{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.center{
  background-color:rgba(0,0,0,1);
  letter-spacing: 10px;
  text-align: center;
  font-size: 24px;
  padding: 12px 24px;
  color: white;
}


/* Nav Bar Test */
.onTop{
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.navbar{
  padding: 8px 16px;
  float: left;
  width: 100%;
  border: none;
  display: block;
  outline: 0;
  overflow: hidden;
}
.navbutton {
  padding: 8px 16px;
  width: 100%;
  border: none;
  white-space: normal;
  outline: 0;
  overflow: hidden;
  text-decoration: none;
  color: lightgray;
  text-align: center;
  cursor: pointer;
}
.navbarscroll{
  padding: 8px 16px;
  float: left;
  width: 100%;
  border: none;
  display: block;
  outline: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,0.75);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  position: relative;
  animation: animatetop 0.4s;
}
@keyframes animatetop {
  from{
    top: -300px;
    opacity: 0;
  }
  to{
    top: 0;
    opacity: 1;
  }
}
a:hover{
  background-color: rgba(255,255,255,0.25);
  color: black;
}
